*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties
melody-meter-local-firebase-adminsdk-4ehi8-dd9a6552f1.json
/melody-meter-local-firebase-adminsdk-4ehi8-dd9a6552f1.json
